// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Orbitron:wght@400..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
$body-font: "Teachers", sans-serif;
// $headers-font: "Nunito", "Helvetica", "sans-serif";
$headers-font: "Teachers", sans-serif;

$title-home-font: "Abril", "serif";

h1 {
  font-family: Bebas Neue, sans-serif !important;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
