<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Liste de toutes les offres</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0" style="color: #ffffff;">My Lists</h3>
      <%= link_to "Create a new offer", new_offer_path, class: "btn btn-primary" %>
 </div>
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <%= link_to offer_path(offer) do %>
           <div class="card" style="width: 15rem; height: 15rem; color: #ffffff; border-radius-lg;">
              <%= cl_image_tag offer.user.photo.key, class: "card-img-top" %>
            <div class="card-body bg-purple">
              <h5 class="card-title"><%= offer.title %></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
