.titre {
  background-color: $purple;
  background-size: 100% auto;
  border-radius: 18px;
  h1 {
    margin: 0;
  }
}

.card {
  width: 300px;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  box-shadow:  #987070 0px 19px 38px, rgba(243, 246, 244, 0.22) 0px 15px 12px;

  // &:hover {
  //   transform: scale(1.03);
  //   box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
  //   border-radius: 12px;
  //   border: 0px transparent;
  // }
  .image-name {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    bottom: 55px;
    margin-left: 8px;
    border-radius: 5px;
  }

  .card-top {
    height: 400px;
  }

  .card-bottom1 {
    height: 200px;
  }

  .card-bottom2 {
    height: 50px;
  }
}
.col-8.bg-purple {
  border-radius: 12px;
  box-shadow:  #987070 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

body {
  background-image: url('https://img.freepik.com/premium-photo/abstract-blur-gradient-wallpaper_7636-1562.jpg?size=626&ext=jpg'); // Chemin relatif vers l'image
  background-size: cover; // Ajuste l'image pour couvrir tout l'écran
  background-repeat: no-repeat; // Empêche la répétition de l'image
  background-position: center center; // Centre l'image horizontalement et verticalement
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #a75d85;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,


    #c800ff,
    #7a00ff,
     #c800ff,
    #e819dd,

  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;


  background: #060506;
  left: 0;
  top: 0;
  border-radius: 10px;
}
